  <div id="content" class="floatwrap">
  <div id="contentArea" class="floatwrap">

    <%= render partial: 'layouts/side' %>

    <div id="main">
    <div class="main_header"></div>

      <%= yield %>

      <div class="floatwrap">

      <div class="main_left">
      <h6><%= image_tag("main_tit_04.jpg", alt: "シェア生活・口コミ情報", width: "356", height: "46") %></h6>
        ・<%= link_to 'Googleハングアウトについて', contents_hangouts_path %><br/>
        ・<%= link_to 'Hour of Codeについて', contents_hour_of_code_path %><br/>
        ・<%= link_to 'Scratchについて', contents_scratch_path %><br/>
        ・<%= link_to 'Code Monkeyについて', contents_codemonkey_path %><br/>
        ・<%= link_to 'Rubyについて', contents_ruby_path %><br/>
        ・<%= link_to 'iOS開発について', contents_ios_path %><br/>
        ・<%= link_to 'Android開発について', contents_android_path %><br/>
      </div><!-- end div.main_right -->

      <div class="main_right">
      <h6><%= image_tag("main_tit_03.jpg", alt: "新着ブログ記事紹介", width: "356", height: "46") %></h6>
        <p>
        ・<%= link_to 'ブログ「たのしいプログラミング」', 'http://ameblo.jp/hardcastle/', target: '_blank' %><br/>
        ・<%= link_to 'チラシ', '/download/Blueberry-Piチラシ.pdf', target: '_blank' %><br/>
        ・<%= link_to 'Hour of Code', 'https://code.org/', target: '_blank' %><br/>
        ・<%= link_to 'SCRATCH', 'https://scratch.mit.edu/', target: '_blank' %><br/>
        ・<%= link_to 'Code Monkey', 'https://codemonkey.jp/' %><br/>
        </p>
        <p>
        ・<%= link_to 'オススメHTML5、CSS3学習サイト', 'http://honttoni.blog74.fc2.com/', target: '_blank' %><br/>
        ・<%= link_to 'オススメRuby学習サービス15選', 'https://techacademy.jp/magazine/6154', target: '_blank' %><br/>
        ・<%= link_to 'Swift/iOS入門に最適なチュートリアルサイト10個', 'https://mayonez.jp/1526', target: '_blank' %><br/>
        ・<%= link_to 'Androidアプリ開発入門チュートリアルサイトまとめ', 'https://mayonez.jp/1567', target: '_blank' %><br/>
        </p>
      </div><!-- end div.main_left -->

      </div><!-- end div.floatwrap -->

      <%= render partial: 'layouts/news' %>

    <div class="main_footer"></div>
    </div><!-- end div#main -->

  </div><!-- end div#contentArea -->
  </div><!-- end div#content -->
